<nav>
  <h1 class='headers'>All Shelters</h1>
  <%= link_to "All Shelters", "/shelters" %>
  <%= link_to "All Pets", "/pets" %>
</nav>

<% @shelters.each do |shelter| %>
  <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h3>
  <section id="shelter-<%= shelter.id %>">
    <%= link_to 'Update', "/shelters/#{shelter.id}/edit" %>
    <%= button_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
  </section>
<% end %><br>

<%= link_to 'Create A New Shelter', '/shelters/new' %>
