<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <section id="shelter-<%= shelter.id %>">
    <%= link_to 'Update', "/shelters/#{shelter.id}/edit" %>
    <%= button_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
  </section>
<% end %><br>

<%= link_to 'Create A New Shelter', '/shelters/new' %>
