<nav>
  <h2 class='headers'>Create Your Shelter</h2>
  <%= link_to "All Shelters", "/shelters" %>
  <%= link_to "All Pets", "/pets" %>
</nav>

<%= form_tag '/shelters' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br><br>
  <%= label_tag :address %>
  <%= text_field_tag :address %><br><br>
  <%= label_tag :city %>
  <%= text_field_tag :city %><br><br>
  <%= label_tag :state %>
  <%= text_field_tag :state %><br><br>
  <%= label_tag :zip %>
  <%= text_field_tag :zip %><br><br>

  <%= submit_tag 'Create Shelter' %>
<% end %>

<!-- <form action="/shelters" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
Shelter Name:<br>
<input type="text" id='name' name ="shelter[name]"<br><br>
<br>
Shelter Address:<br>
<input type="text" id='address' name ="shelter[address]"<br><br>
<br>
City:<br>
<input type="text" id='city' name ="shelter[city]"<br><br>
<br>
State:<br>
<input type="text" id='state' name ="shelter[state]"<br><br>
<br>
Zip Code:<br>
<input type="text" id='zip' name ="shelter[zip]"<br>
<br><br>
<input type="submit" value="Submit">
</form> -->
