<h1><%= @shelter.name %></h1>
<ul>
  <li>Address: <%= @shelter.address %></li>
  <li>City: <%= @shelter.city %></li>
  <li>State: <%= @shelter.state %></li>
  <li>Zip Code: <%= @shelter.zip %></li>
</ul>

<%= link_to 'Edit', "/shelters/#{@shelter.id}/edit" %>

