<h1><%= @shelter.name %></h1>

<nav>
  <%= link_to "All Shelters", "/shelters" %>
  <%= link_to "All Pets", "/pets" %>
</nav>

<ul>
  <li>Address: <%= @shelter.address %></li>
  <li>City: <%= @shelter.city %></li>
  <li>State: <%= @shelter.state %></li>
  <li>Zip Code: <%= @shelter.zip %></li>
</ul>
<%= link_to "All pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets" %>
<%= link_to 'Edit', "/shelters/#{@shelter.id}/edit" %>
<%= button_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>


