<nav>
  <h1 class='headers'>Edit <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h1>
  <%= link_to "All Shelters", "/shelters" %>
  <%= link_to "All Pets", "/pets" %>
</nav>

<%= form_tag "/pets/#{@pet.id}", method: :PATCH do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @pet.name %><br><br>
  <%= label_tag :image_url %>
  <%= text_field_tag :image, @pet.image %><br><br>
  <%= label_tag :description %>
  <%= text_field_tag :description, @pet.description %><br><br>
  <%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age, @pet.approximate_age %><br><br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex, @pet.sex %><br><br>

  <%= submit_tag 'Update Pet' %>
<% end %>