<h1>Form for New Pet At <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h1>

<nav>
  <%= link_to "All Shelters", "/shelters" %>
  <%= link_to "All Pets", "/pets" %>
</nav>

<%= form_tag "/shelters/#{@shelter.id}/pets" do %>
  <%= label_tag :image_url %>
  <%= text_field_tag :image %><br><br>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br><br>
  <%= label_tag :description %>
  <%= text_field_tag :description %><br><br>
  <%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age %><br><br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex %><br><br>

  <%= submit_tag 'Create Pet' %>
<% end %>
