<h1>Hi, I'm <%= @pet.name %></h1>

<nav>
  <%= link_to "All Shelters", "/shelters" %>
  <%= link_to "All Pets", "/pets" %>
</nav>

<img src= <%= @pet.image %>><br>

<ul>
  <li>Description: <%= @pet.description %></li>
  <li>Age: <%= @pet.approximate_age %></li>
  <li>I am <%= @pet.sex %></li>
  <li>And I am <%= @pet.status %></li>
</ul>

<%= link_to 'Edit Pet', "/pets/#{@pet.id}/edit" %>
<%= button_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
